.bg-custom,
.under-line,
.dot,
.btn-custom,
.timeline-page .timeline-item .date-label-left,
.timeline-page .timeline-item .date-label-left::after,
.timeline-page .timeline-item .duration-right,
.timeline-page .timeline-item .duration-right::after,
.container-filter li a.active,
.timeline-page::after {
    background-color: #FF9800;
}

.btn-custom {
    border: 1px solid #FF9800;
}

.color-custom {
    color: #FF9800 !important;
}

a.scroll-up:hover, a.scroll-down:hover,
.navbar-custom .navbar-nav li.active a,
.navbar-custom .navbar-nav li a:hover,
.navbar-custom .navbar-nav li a:active {
    color:#FF9800 !important;
}

.nav-sticky.navbar-custom .navbar-nav li.active a,
.nav-sticky.navbar-custom .navbar-nav li a:hover,
.nav-sticky.navbar-custom .navbar-nav li a:active {
    color: #FF9800 !important;
}

.custom-form .form-control:focus {
    border: 1px solid #FF9800 !important;
}

.btn-custom:hover,
.btn-custom:focus,
.btn-custom:active,
.btn-custom.active,
.btn-custom.focus,
.btn-custom:active,
.btn-custom:focus,
.btn-custom:hover,
.open > .dropdown-toggle.btn-custom {
    background-color:#ffc107;
    border-color: #ffc107;
}

::-webkit-scrollbar-thumb,
.portfolio-items::-webkit-scrollbar-thumb {
	background-color: #FF9800;
}

.icon-color1 {fill:#FF9800;}
.icon-color2 {fill:#ffc107;}
.icon-color3 {fill:#f1d379;}
.icon-color4 {fill:#ebdbaa;}
